*
	padding: 0
	margin: 0
html, body
	font-family: 'Ubuntu', sans-serif
	overflow-x: hidden
	height: 100%
	position: relative
.container
	box-sizing: border-box
	width: 100% !important
	height: 100%
	max-width: 1140px
	position: relative
.row
	height: 100%
.flex
	display: flex
a
	text-decoration: none
.btn
	padding: 10px 30px
	border-radius: 19.5px
	color: $white
	transition: all 0.3s