//BEGIN header
header.header
  .container
    .row
      .col-xs-4
        .header__block
          .header__block__logo
            h2 
              span reno
              | comfort
              p silikonowanie i uszczelnianie
      .col-xs-6
        .header__block
          .header__block__phone
            i.fas.fa-phone
            a(href="tel:0048662202167") 00 48 662 202 167
            a(href="mailto:info@wroglass.pl") info@wroglass.pl
          .header__block__location
            i.fas.fa-map-marker-alt
            a(href="#") ul. Północna 24/14, Wrocław
              p Pon. - Piąt.: 9-19
      .col-xs-2
        .header__block
          .header__block__btn
            a(href="#")
              i.fas.fa-envelope-open
              | Poproś o oferte
.header-toolbar
  .container
    nav
      a(href="#") O firmie
      a(href="#offers") Oferta
      a(href="#examples") Realizacje
      a(href="#reviews") Galeria
      a(href="#contacts") Kontakt 
//END header
