section.examples
  .container
    .row.center-xs
      .col-xs-12
        .heading
          h2 przykłady realizacji
          .heading__line
          p Wśród naszych prac jest budowa Komisji Europejskiej LEX 2000 w Brukseli, Fuga w oknach Zamku Królewskiego w Brukseli, Fugi w tunelu Luksemburga, Połączenia na tamie w Liège i wiele innych
      .col-xs-4
        .examples__block
      .col-xs-4
        .examples__block
      .col-xs-4
        .examples__block