section.examples#examples
  .container
    .row.center-xs
      .col-xs-12
        .heading
          h2 przykłady realizacji
          .heading__line
          p Wśród naszych prac jest budowa Komisji Europejskiej LEX 2000 w Brukseli, Fuga w oknach Zamku Królewskiego w Brukseli, Fugi w tunelu Luksemburga, Połączenia na tamie w Liège i wiele innych
    .row
      .col-sm-4.col-xs-12
        .examples__block(style='background-image: url(img/examples__block--bg1.png)')
          a(href="#")
            h3 Europejski Parlament
            span Bruksela
            p uszczelnienia elewacji; materiały: Sika, Detaflex, Soudal
      .col-sm-4.col-xs-12
        .examples__block(style='background-image: url(img/examples__block--bg2.png)')
          a(href="#")
            h3 Dworzec <br>Kolejowy
            span Antwerpia
            p materiały: Sika, Soudal
      .col-sm-4.col-xs-12
        .examples__block(style='background-image: url(img/examples__block--bg3.png)')
          a(href="#")
            h3 City<br> Garden
            span Bruksela
            p uszczelnienia granitowych i marmurowych elewacji materiały: Sika
      .col-xs-12.center-xs
        .examples__btn
          a(href="#") wszystkie oferty
          i.fas.fa-angle-down
    .examples--none
      .row
        .col-sm-4.col-xs-12
          .examples__block(style='background-image: url(img/examples__block--bg1.png)')
            a(href="#")
              h3 Europejski Parlament
              span Bruksela
              p uszczelnienia elewacji; materiały: Sika, Detaflex, Soudal
        .col-sm-4.col-xs-12
          .examples__block(style='background-image: url(img/examples__block--bg2.png)')
            a(href="#")
              h3 Dworzec <br>Kolejowy
              span Antwerpia
              p materiały: Sika, Soudal
        .col-sm-4.col-xs-12
          .examples__block(style='background-image: url(img/examples__block--bg3.png)')
            a(href="#")
              h3 City<br> Garden
              span Bruksela
              p uszczelnienia granitowych i marmurowych elewacji materiały: Sika