section.intro
  .container
    .row.center-xs
      .col-xs-12
        .intro__logo
          img(src="img/intro__white.png", alt="")
          h2 
            span reno
            | comfort
          img(src="img/intro__red.png", alt="")
        .intro__text  
          h1 silikonowanie i uszczelnianie
          p Firma RENOCOMFORT – silikonowanie i uszczelnianie, to pewny i zaufany partner z<br> wieloletnim doświadczeniem na rynku polskim oraz europejskim.
    .intro__btn
      .row
        .col-xs-4
          a(href="#") 
            i.fas.fa-wrench
            | profesjonalny sprzet
        .col-xs-4
          a(href="#") 
            i.fas.fa-lightbulb
            | wieloletnie doswiadczenie
        .col-xs-4
          a(href="#") 
            i.fas.fa-thumbs-up
            | prestizowe realizacje