section.intro
  .intro__video
    video(src="img/intro.mp4" autoplay, loop)
  .container
    .row.center-xs
      .col-xs-12
        .intro__logo
          img(src="img/intro__white.png", alt="")
          h2 
            span reno
            | comfort
          img(src="img/intro__red.png", alt="")
        .intro__text
          h1 silikonowanie i uszczelnianie
          p Firma RENOCOMFORT – silikonowanie i uszczelnianie, to pewny i zaufany partner z<br> wieloletnim doświadczeniem na rynku polskim oraz europejskim.
          .intro__text--mobile
            a(href="#")
              i.fas.fa-envelope-open
              | Poproś o oferte
    .intro__btn
      .row
        .col-md-4.col-xs-12.wow.slideInLeft(data-wow-offset="40")
          a(href="#")
            i.fas.fa-wrench
            | profesjonalny sprzet
        .col-md-4.col-xs-12.wow.fadeIn(data-wow-offset="40")
          a(href="#") 
            i.fas.fa-lightbulb
            | wieloletnie doswiadczenie
        .col-md-4.col-xs-12.wow.slideInRight(data-wow-offset="40")
          a(href="#").intro__btn--last
            i.fas.fa-thumbs-up
            | prestizowe realizacje