section.offers
  .container
    .row.center-xs
      .col-xs-12
        .heading
          h2 co oferujemy
          .heading__line
          p Oferujemy bardzo szeroki zakres usług, oraz profesjonalizm poparty prestiżowymi realizacjami w krajach Unii<br> Europejskiej. <br>Zapewniamy gwarancję i zadowolenie Klieta, wyznając zasadę "Klient nasz Pan".
      .col-xs-3
        .offers__block
          a(href="#")
            img(src="img/offers-1.png", alt="")
            p uszczelnianie szkla
      .col-xs-3
        .offers__block
          a(href="#")
            img(src="img/offers-2.png", alt="")
            p uszczelnienia basenow
      .col-xs-3
        .offers__block
          a(href="#")
            img(src="img/offers-3.png", alt="")
            p uszczelnianie elevacji
      .col-xs-3
        .offers__block
          a(href="#")
            img(src="img/offers-4.png", alt="")
            p uszczelnianie ognioodporne
      .col-xs-3
        .offers__block
          a(href="#")
            img(src="img/offers-5.png", alt="")
            p uszczelnianie urzadzen sanitarnych
      .col-xs-3
        .offers__block
          a(href="#")
            img(src="img/offers-6.png", alt="")
            p uszczelnienia plyt betonowych
      .col-xs-3
        .offers__block
          a(href="#")
            img(src="img/offers-7.png", alt="")
            p uszczelnianie fasad szklanych
      .col-xs-3
        .offers__block
          a(href="#")
            img(src="img/offers-8.png", alt="")
            p uszczelnianie schodow
      .col-xs-12
        .offers__btn
          a(href="#") wszystkie oferty
          i.fas.fa-angle-down
  .offers__img
    .container
      .row
        .col-xs-4
          .offers__img__block.offers__img__block--1
            i.fas.fa-building
            span 780
            p zrealizowanych projektów
        .col-xs-4
          .offers__img__block.offers__img__block--2
            i.fas.fa-users
            span 356
            p zadowolonych klientów
        .col-xs-4
          .offers__img__block.offers__img__block--3
            i.fas.fa-address-card
            span 12
            p wykwalifikowanych specjalistów

