section.reviews#reviews
  .container
    .row.center-xs
      .col-xs-12
        .heading
          h2 opinia o nas
          .heading__line
          p Klienci lubią wynik naszej pracy! 
    .row
      .col-sm-4.col-xs-12
        .reviews__block
          i.fas.fa-quote-right
          h4 Doskonały wynik!
          p Dziękuję bardzo, jestem bardzo zadowolony z wyniku. Firma działa bardzo sprawnie i szybko. Przekroczyliśmy nasze oczekiwania!
          span Ivan Petrovsky
      .col-sm-4.col-xs-12
        .reviews__block
          i.fas.fa-quote-right
          h4 Doskonały wynik!
          p Dziękuję bardzo, jestem bardzo zadowolony z wyniku. Firma działa bardzo sprawnie i szybko. Przekroczyliśmy nasze oczekiwania!
          span Ivan Petrovsky
      .col-sm-4.col-xs-12
        .reviews__block
          i.fas.fa-quote-right
          h4 Doskonały wynik!
          p Dziękuję bardzo, jestem bardzo zadowolony z wyniku. Firma działa bardzo sprawnie i szybko. Przekroczyliśmy nasze oczekiwania!
          span Ivan Petrovsky
          